{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bookings/style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="homepage homepage-normative js-homepage flush homepage-interface-new homepage-mobile-simplification sticky-navbar static-navbars">
    <div class="hidden-xs">
        <div class="hero js-hero rebranded default cat-inclusive">
            <div class="hero-content-wrap">
                <div class="hero-content">
                    <div class="hero-header">
                        <h1 class="hidden-xs">
                            Local, Loving Pet Care
                        </h1>
                        <h2 class="hidden-xs">Book trusted sitters and dog walkers who'll treat your pets like family.</h2>
                    </div>
                    <div class="search-container">
                        <form class="search-form search-form-new js-search-form">
                            {% csrf_token %}
                            <div class="pet-type-select">
                                <div class="heading">
                                    I'm looking for service for my:
                                </div>
                                <div class="js-pet-type-selection-view">
                                    <ul class="list-inline">
                                        <li class="checkbox margin-top-x0 margin-bottom-x0">
                                            <label class="margin-right-x2">
                                            <input type="checkbox" id="pet-type-checkbox-dog-search-form" checked
                                                class="js-pet-type-checkbox" value="dog">Dog
                                        </label>
                                            <label>
                                            <input type="checkbox" id="pet-type-checkbox-cat-search-form"
                                                class="js-pet-type-checkbox" value="cat">Cat
                                        </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <input type="hidden" value="dog" name="pet_type">
                            <div class="row row-lopad-lg row-lopad-md row-lopad-sm stay-type-buttons margin-top-x2">
                                <div class="away-wrapper col-sm-7 col-lopad-lg col-lopad-md col-lopad-sm" role="group" aria-labelledby="overnight_service_buttons_label_eec83980627d4fc7828e6fb7d2c908d8">
                                    <span id="overnight_service_buttons_label_eec83980627d4fc7828e6fb7d2c908d8">For When
                                    You're Away</span>
                                    <div class="row service-select-buttons">
                                        <div class="col-xs-12 col-sm-4 col-lopad-sm col-lopad-md col-lopad-lg rover-button-wrapper">
                                            <div class="rover-button text-center js-stay-type-btn js-stickit-data-value padding-x1 active" data-value="overnight-boarding" data-name="Boarding" data-supports_day_of_week_search="0" data-suggested_pet_type="any" data-supports_repeat_bookings="0">
                                                <a>
                                                    <div class="hidden-xs">
                                                        <i class="fas fa-briefcase"></i>
                                                    </div>
                                                    <div>
                                                        <div>Boarding</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-lopad-sm col-lopad-md col-lopad-lg rover-button-wrapper">
                                            <div class="rover-button text-center js-stay-type-btn js-stickit-data-value padding-x1" data-value="overnight-traveling" data-name="House Sitting" data-supports_day_of_week_search="0" data-suggested_pet_type="any" data-supports_repeat_bookings="0">
                                                <a>
                                                    <div class="hidden-xs">
                                                        <i class="fas fa-home"></i>
                                                    </div>
                                                    <div>
                                                        <div>House Sitting</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-lopad-sm col-lopad-md col-lopad-lg rover-button-wrapper">
                                            <div class="rover-button text-center js-stay-type-btn js-stickit-data-value padding-x1" data-value="drop-in" data-name="Drop-In Visits" data-supports_day_of_week_search="0" data-suggested_pet_type="any" data-supports_repeat_bookings="1">
                                                <a>
                                                    <div class="hidden-xs">
                                                        <i class="fas fa-dog"></i>
                                                    </div>
                                                    <div>
                                                        <div>Drop-In Visits</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="at-work-wrapper col-sm-5 col-lopad-lg col-lopad-md col-lopad-sm" role="group" aria-labelledby="daytime_service_buttons_label_eec83980627d4fc7828e6fb7d2c908d8">
                                    <span id="daytime_service_buttons_label_eec83980627d4fc7828e6fb7d2c908d8">For When
                                    You're At Work</span>
                                    <div class="row service-select-buttons">
                                        <div class="col-xs-12 col-sm-6 col-lopad-sm col-lopad-md col-lopad-lg rover-button-wrapper">
                                            <div class="rover-button text-center js-stay-type-btn js-stickit-data-value padding-x1" data-value="doggy-day-care" data-name="Doggy Day Care" data-supports_day_of_week_search="1" data-suggested_pet_type="dog" data-supports_repeat_bookings="1">
                                                <a>
                                                    <div class="hidden-xs">
                                                        <i class="fas fa-cloud-sun"></i>
                                                    </div>
                                                    <div>
                                                        <div>Doggy Day Care</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-lopad-sm col-lopad-md col-lopad-lg rover-button-wrapper">
                                            <div class="rover-button text-center js-stay-type-btn js-stickit-data-value padding-x1" data-value="dog-walking" data-name="Dog Walking" data-supports_day_of_week_search="1" data-suggested_pet_type="dog" data-supports_repeat_bookings="1">
                                                <a>
                                                    <div class="hidden-xs">
                                                        <i class="fas fa-paw"></i>
                                                    </div>
                                                    <div>
                                                        <div>Dog Walking</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="service_type" id="type_eec83980627d4fc7828e6fb7d2c908d8" value="overnight-boarding" class="js-stay-type">
                            </div>
                            <div class="js-browsable-search-inputs">
                                <div class="row row-lopad-lg row-lopad-md row-lopad-sm margin-bottom-x1 margin-top-x2 hidden-xs">
                                    <div class="js-search-form-location-col col-sm-4 col-lopad-lg col-lopad-md col-lopad-sm">
                                        <span class="js-service-name">Boarding</span> near
                                    </div>
                                    <div class="js-search-form-dates-col col-sm-8 col-xs-12 col-lopad-lg col-lopad-md col-lopad-sm js-stay-frequency-toggle-title">
                                        For these days</div>
                                </div>
                                <div class="row row-lopad-lg row-lopad-md row-lopad-sm location-row">
                                    <div class="search-form-location-col js-search-form-location-col col-sm-4 col-lopad-lg col-lopad-md col-lopad-sm">
                                        <div class="form-group">
                                            <label for="location_eec83980627d4fc7828e6fb7d2c908d8" class="sr-only">Location</label>
                                            <input type="text" value="0" class="form-control js-location-input showgoogle" id="location" name="location" placeholder="Zip Code or Address" autocomplete="off" data-geocoded="geocoded">
                                        </div>
                                    </div>
                                    <div class="search-form-dates-col js-search-form-dates-col col-sm-8 col-xs-12 col-lopad-lg col-lopad-md col-lopad-sm form-group">
                                        <div class="js-date-range-wrapper date-range-wrapper">
                                            <div class="row js-daterangepicker daterangepicker-row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 frequency-toggle-start-date">
                                                    <div class="input-group-wrapper js-datepicker-calendar-trigger" data-trigger-target="#start_date_1">
                                                        <div class="input-group with-seamless-addon">
                                                            <input type="text" class="form-control" value="10/05/2020" name="start_date" id="start_date_1" aria-label="Start Date" placeholder="Drop off" autocomplete="off" data-rule-required="true" data-rule-l10ndate="true">
                                                            <span class="input-group-addon date-picker-control-addon">
                                                            <span class="far fa-calendar-alt" style="right: 9px;
                                                            position: absolute;
                                                            top: 9px;"></span>
                                                            </span>
                                                            <script>
                                                                $(function() {
                                                                    $("#start_date_1").datepicker();
                                                                });
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="date-picker-control-divider frequency-toggle-end-date">
                                                    <i class="rover-icon rover-icon-in-arrow-right"></i>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 frequency-toggle-end-date">
                                                    <div class="input-group-wrapper js-datepicker-calendar-trigger" data-trigger-target="#end_date_1">
                                                        <div class="input-group with-seamless-addon">
                                                            <input type="text" class="form-control" value="10/05/2020" name="end_date" id="end_date_1" aria-label="End Date" placeholder="Pick up" autocomplete="off" data-rule-required="true" data-rule-l10ndate="true">
                                                            <span class="input-group-addon date-picker-control-addon">
                                                            <span class="far fa-calendar-alt" style="right: 9px;
                                                            position: absolute;
                                                            top: 9px;"></span>
                                                            </span>
                                                            <script>
                                                                $(function() {
                                                                    $("#end_date_1").datepicker();
                                                                });
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-lopad-lg row-lopad-md row-lopad-sm margin-top-x2">
                                    <div class="search-form-submit-col col-lg-7 col-md-7 col-sm-7 col-lopad-lg col-lopad-md col-lopad-sm">
                                        <div class="js-anonymous-user js-select-dog-size form-group" role="group" aria-labelledby="dog_size_label_eec83980627d4fc7828e6fb7d2c908d8">
                                            <span id="dog_size_label_eec83980627d4fc7828e6fb7d2c908d8" class="control-label">
                                            My Dog Size
                                        </span>
                                            <div class="button-columns button-columns-even button-columns-4 controls dog-size-button-columns" data-toggle="buttons">
                                                <label class="rover-btn rover-btn-default btn-block active">
                                                <input class="js-small-dogs" type="checkbox" name="small_dogs"
                                                    value="true" autocomplete="off">
                                                <span><strong>Small</strong></span>
                                                <span>0-15lbs</span>
                                            </label>
                                                <label class="rover-btn rover-btn-default btn-block">
                                                <input class="js-medium-dogs" type="checkbox" name="medium_dogs"
                                                    value="true" autocomplete="off">
                                                <span><strong>Medium</strong></span>
                                                <span>16-40lbs</span>
                                            </label>
                                                <label class="rover-btn rover-btn-default btn-block">
                                                <input class="js-large-dogs" type="checkbox" name="large_dogs"
                                                    value="true" autocomplete="off">
                                                <span><strong>Large</strong></span>
                                                <span>41-100lbs</span>
                                            </label>
                                                <label class="rover-btn rover-btn-default btn-block">
                                                <input class="js-giant-dogs" type="checkbox" name="giant_dogs"
                                                    value="true" autocomplete="off">
                                                <span><strong>Giant</strong></span>
                                                <span>101+lbs</span>
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search-form-submit-col col-lg-5 col-md-5 col-sm-5 col-lopad-lg col-lopad-md col-lopad-sm hidden-xs">
                                        <div class="control-label">&nbsp;</div>
                                        <button id="btnSubmit" class="rover-btn rover-btn-primary btn-block desktop-submit">Search</button>
                                    </div>
                                </div>
                                <input type="hidden" name="dog_size" value="s">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#pet-type-checkbox-dog-search-form").click(function(e) {
            $("#pet-type-checkbox-cat-search-form").prop('checked', false)
            $('input[name="pet_type"]').val("dog")
        });
        $("#pet-type-checkbox-cat-search-form").click(function(e) {
            $("#pet-type-checkbox-dog-search-form").prop('checked', false)
            $('input[name="pet_type"]').val("cat")
        });

        $(".rover-button.text-center.js-stay-type-btn.js-stickit-data-value").click(function(e) {
            $(".rover-button.text-center.js-stay-type-btn.js-stickit-data-value").removeClass("active");
            $(this).addClass("active")
            $('input[name="service_type"]').val($(this).data().value)
            e.preventDefault()
        });

        $(".rover-btn.rover-btn-default.btn-block").click(function(e) {
            $(".rover-btn.rover-btn-default.btn-block").removeClass("active");
            $(this).addClass("active")
            $('input[name="dog_size"]').val($(this).find("strong").text()[0])
            e.preventDefault()
        });

        $("#btnSubmit").click(function(e) {
            e.preventDefault()

            var zip_code = $("#location").val()
            var start = $("#start_date_1").val().replaceAll('/', '_')
            var end = $("#end_date_1").val().replaceAll('/', '_')
            var size = $('input[name="dog_size"]').val().toLowerCase()

            debugger
            window.location = zip_code + '/' + start + '/' + end + '/' + size
        });
    });
</script>